<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meu Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Bem-vindo ao Meu Site</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">Sobre</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="row">
              <!-- Card 1 -->
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <img src="url_da_imagem" class="card-img-top" alt="Imagem do Card">
                  <div class="card-body">
                    <h5 class="card-title">Título do Card</h5>
                    <p class="card-text">Uma breve descrição ou conteúdo do card.</p>
                    <a href="#" class="btn btn-primary">Saiba Mais</a>
                  </div>
                </div>
              </div>
              <!-- Card 2 -->
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <img src="url_da_imagem" class="card-img-top" alt="Imagem do Card">
                  <div class="card-body">
                    <h5 class="card-title">Título do Card</h5>
                    <p class="card-text">Uma breve descrição ou conteúdo do card.</p>
                    <a href="#" class="btn btn-primary">Saiba Mais</a>
                  </div>
                </div>
              </div>
              <!-- Card 3 -->
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <img src="url_da_imagem" class="card-img-top" alt="Imagem do Card">
                  <div class="card-body">
                    <h5 class="card-title">Título do Card</h5>
                    <p class="card-text">Uma breve descrição ou conteúdo do card.</p>
                    <a href="#" class="btn btn-primary">Saiba Mais</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </main>
    <footer>
        <p>&copy; 2025 Meu Site</p>
    </footer>
</body>
</html>